html {
	scroll-behavior: smooth;
}
body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	max-width: 100%;
}
*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader-wrapper img{
	width: 100px;
	height: auto;
}
/*header*/
.h1{
	width: 100%;
	height: 100px;
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}
.h1-1{
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h1-1 img{
	width: 200px;
	height: auto;
}
.h1-2{
	height: 100%;
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h1-2-1{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h1-2-1 a{
	height: 100%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;	
	transition: 0.5s;
	color: black;
}
.h1-2-1 a:hover{
	background-color:  rgb(166, 225, 253);
	font-size: 15px;
}
.h1-2-1 ul{
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 60%;
	justify-content: center;
}
.h1-2-1 li{
	padding: 10px;
}
.h1-2-2{
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.h1-2-2 img{
	width: 50px;
	height: 50px;
}
.h1-2-2-1{
	margin-right: 20px;
}
.h1-2-2-2{
	padding: 30px;
	display: none;
}
.h1-2-2-2:hover{
	cursor: pointer;
}
/*Dropmenu*/
.dropdownmenu{
	display: none;
	position: absolute;
	width: 60%;
	background-color: white;
	z-index: 1000;
	transition: all 1s linear;
	opacity: 1;
	border: blue 2px solid;
	top: 99%;
	right: 40%;
}
.dropdownmenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.dropdownmenu li{
	padding: 15px 20px;
	transition: 0.3s;
}
.dropdownmenu li:hover{
	background-color: #e8e8e8;
}
.dropdownmenu a{
	color: black;
}
/*fixed header*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/*main*/
.main{
	padding: 0 25%;
	height: 500px;
}
/*footer*/
.footer{
	padding: 50px 10%;
	background-color: rgb(166, 225, 253);
}
.f1{
	width: 100%;
}
.f1 img{
	width: 150px;
}
.f2{
	width: 100%;
	display: flex;
	margin: 30px;
}
.f2-1{
	width: 33.33%;
	text-align: center;
	line-height: 35px;
	letter-spacing: 2px;
}
.f2-1-1 a{
	margin: 10px;
	font-size: 18px;
	color: grey;
}
.f2-1-1 a:hover{
	color: black;
}
.f3{
	margin-top: 20px;
	color: gray;
}
/*uptotop button*/
.scrollToTopBtn {
	background-color: rgb(101, 155, 181);
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 16px;
	line-height: 48px;
	width: 48px;
	/* place it at the bottom right corner */
	position: fixed;
	bottom: 60px;
	right: 30px;
	/* keep it at the top of everything else */
	z-index: 100;
	/* hide with opacity */
	opacity: 0;
	/* also add a translate effect */
	transform: translateY(100px);
	/* and a transition */
	transition: all .5s ease;
}
.showBtn {
	opacity: 1;
	transform: translateY(0)
}
.colorblock{
	color: grey;
}
.counter-item{
	color: black;
}