<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Fit4Life</title>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
	<link rel="stylesheet" type="text/css" href="../css/asked.css">
	<link rel="stylesheet" type="text/css" href="../rps/askedrps.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload='display_ct6();'>
	<header>
		<div class="h1" id="h1id">
			<div class="h1-1">
				<a href="home.html"><img src="https://bn1files.storage.live.com/y4mkxNxHD72ADhl8XLY7asBatfA2HKT13frmpM6jss_d59R5G-6OtRkTFJiRl0X13ydASstTUpWue7onITkO7O-bzQ81EZeyIhUQ50I3VRaIdV-IgzHlWX4iSFFBpsI7p1AiyUWHWYyUQkkuVN-mkKRSZUj3t5wHOIWLuZ4bGbW61elcuFzQmc-T9ghepmROOB7?width=1356&height=464&cropmode=none"></a>
			</div>

			<div class="h1-2">
				<div class="h1-2-1">
				 	<ul>
				 		<a href="home.html"><li>Home</li></a>
				 		<a href="dietplan.html"><li>Diet Plan</li></a>
				 		<a href="workout.html"><li>Workout Plan</li></a>
				 	</ul>
				</div>

				<div class="h1-2-2">
				 	<div class="h1-2-2-2" id="h1-2-2-2id">
					 	<i class="fas fa-bars"></i>
					</div>

					<div class="dropdownmenu" id="dropdownmenuid">
						<ul>
							<a href="home.html"><li>Home</li></a>
							<a href="dietplan.html"><li>Diet Plan</li></a>
							<a href="workout.html"><li>Workout Plan</li></a>
						</ul>
					</div>

				 	<div class="h1-2-2-1" id="show">
				 		Welcome: 
				 	</div>

				 	<a href="../index.html" id="image"></a>
				</div>
			</div>
		</div>
	</header>

	<section id="mainid">
		<div class="main">
			<div class="m1">
				<h1>
					<p>
						<b>I. Fit4Life - Important information</b>
					</p>
				</h1>

				<p>Fit4Life always tries to update the FAQs (Frequently Asked Questions) with the most practical information for users. Please read our FAQs carefully to answer your questions, and if you still have questions, feel free to contact us. You can find contact details at the contact section.</p>
			</div>

			<div class="m1">
				<h1>
					<p>
						<b>II. Frequently asked questions about spam</b>
					</p>
				</h1>

				<p>Because in some cases Fit4Life's name is used without approval in some spam emails, the "Spam FAQ" section is created to answer questions about this issue.</p>

				<p>
					<b>Warning</b>
				</p>

				<p>Spammers often use Fit4Life's email template, name and logo to send mail to your email for the following reasons:</p>

				<ul>
					<li>Use the name of Fit4Life to sell you medicine.</li>
					<li>Install malware in hidden mode to control your computer and steal data from your computer.</li>
				</ul>

				<p>Fit4Life hereby affirms that all our emails will only be sent from Fit4Life's email address and any web addresses included in our email or newsletter will lead to the official website by Fit4Life.</p>
				<p>Here are some of the most frequently asked questions about spam and we hope they will be of some help. To contact us, you can email us through the "Contact Us" section located at the bottom of the web page.</p>
				
				<p>
					<b>What is spam?</b>
				</p>
			</div>

			<m>

			<div class="m1">
				<p>Spam is a common term used for mass email messages. According to Merriam-Webster's online dictionary, spam is “commercial email sent in bulk to a large number of addresses”.</p>
				
				<p>
					<b>What is phishing mail?</b>
				</p>

				<p>Phishing mail is a technique commonly used by hackers to break into confidential information such as usernames, passwords, and financial data on your computer. Phishing mail is usually done by creating and sending emails similar to spam that contain links to websites or attach files that will harm your computer. Clicking on a link to a web or opening an attachment can infect your computer with malware.</p>
				
				<p>
					<b>Will Fit4Life disclose my email address to anyone?</b>
				</p>

				<p>Fit4Life takes confidentiality seriously and keeps personal information very seriously. You can find more details in our Privacy Policy.</p>
				
				<p>
					<b>How do spammers or hackers know my email?</b>
				</p>

				<p>Knowing exactly how spammers or hackers know your email is difficult because there are many methods that can be used to do this. The most common methods are: getting email addresses from chat rooms, search engines, from list of unsecured email addresses ... Lots of companies and individuals that send spammers often use Web crawlers. or an automated program that can access links and websites to retrieve email addresses. If your email address is unfortunately listed on public websites, it will be very easy to find and target by spammers.</p>
				
				<p>Sometimes spammers and hackers get your email address by sending messages to a bunch of common names and words used to put your email. They can also target a database of reputable email names (e.g. university emails, such as hoasen.edu) and continuously enter different email names from which to retrieve those sites. only real email. They can even use viruses that send mail to email addresses in your phonebook.</p>
				
				<p>
					<b>How can I limit the receipt of spam email?</b>
				</p>
				
				<p>Most service providers have tools to help you filter out spam or suspected spam messages and classify them into a separate section of the mailbox called "Spam". You can also manually adjust this rating and enable "secure email" in your own inbox.</p>
				
				<p>In addition, you can limit the receipt of spam by:</p>

				<ul>
					<li>Restrict the disclosure of their email addresses on online forums, blogs, social sites ...</li>
					<li>Naming the email address is hard to guess.</li>
					<li>When signing up for an account on a website, check your privacy settings to ensure that your email address is kept private. You should also pay attention to opt out of accepting email during account registration on any website.</li>
				</ul>

				<p>
					<b>Can I identify the person who is spamming me?</b>
				</p>

				<p>Spammers often disguise the sender's information. Usually the "sender" and "receiver" part of the message will be forged or concealed or even created an email where the sender and receiver are yourself with the Intenet (IP) manipulation. fake. All of the above tips are used for one purpose, making it difficult for you to determine who sent you the email.</p>
				
				<p>However, you can check the internet source and find the first item on the incoming email. Your internet source test will depend on the email service provider and the program you use. In general, you can search for email senders by clicking on the "help" tab to find out how to check internet sources.</p>
				
				<p>
					<b>Can choosing "unsubscribe" and replying to the mail asking me not to send me any more spam?</b>
				</p>

				<p>Sending mail asking to remove your name from the spamming list helps spammers know that the email address they send is real and even the email address you will be added to the feed. material of them. Therefore, we recommend that you do not reply to any spam sent to you. Because once they know your address is real, spammers will do only two things:</p>
				
				<ul>
					<li>Send more spam to your email address.</li>
					<li>Selling your email address to other spammers, thereby making your inbox receive even more spam.</li>
				</ul>

				<p>
					<b>Will I stop tracking legitimate emails to help me avoid spam?</b>
				</p>
				
				<p>Fit4Life gives you the option to "unsubscribe" on every email or newsletter we send to.</p>
				
				<p>Most legitimate commercial emails have instructions attached so you can unsubscribe and receive emails when you are consulted for approval for inclusion in the email list. This email is sent to you on purpose and the recipient is clear so it will not be counted as spam.</p>
				
				<p>When filling out information on the company's website, most people often forget to leave the check box off to receive an email from the website. Fit4Life will leave a blank box for you to choose whether you will receive an email when you fill out the information on the website to help you remember clearly what you choose.</p>
				
				<p>Always use extreme caution when accepting email from a website because you are giving the site the right to trade your email address for another company. Fit4Life recommends that you carefully read the privacy and information use terms on the websites to understand how your information will be used before you agree to receive email and information from the website or accept details. reveal any other information.</p>
			</div>

			<div class="m1">
				<h1>
					<p>
						<b>III. Fit4Life Write us</b>
					</p>
				</h1>

				<p>Fit4Life looks forward to posting about your health content!</p>

				<p>Fit4Life looks forward to posting about your health content!</p>

				<p>To contribute content, your post needs to:</p>

				<ul>
					<li>Accurate and factual: This is the # 1 most important rule for the web. If what you write has no real evidence and is not thoroughly researched, the content will not be accepted.</li>
					<li>Useful and engaging: These can be everyday tips to help patients manage their illnesses, or ideas for building a healthy diet.</li>
					<li>Original: Content must be written by yourself, not plagiarized or inspired by any other source. (Note, we always check many times before posting.)</li>
					<li>Not yet published in any medium: Please tell us if your article has ever been published in any book, newspaper or magazine. We will only accept content if you have copyright to it.</li>
				</ul>

				<p>For your ideas, your content needs to include:</p>

				<ul>
					<li>Interesting facts or perspectives you want to write.</li>
					<li>The title must say the entire content. (The title should be the subject of the email you send us).</li>
					<li>A rough estimate of the length of your content (posts should be at least 500 words long).</li>
					<li>Any information related to yourself and your experiences. If you ever have the article posted or have experience in the work, please attach a link or attach it in an email.</li>
				</ul>

				<p>Please send your article or idea to email <a href="mailto:kvdigitals@gmail.com">kvdigitals@<gmail class="com"></gmail></a>. We receive a lot of posts daily, so we cannot reply to you soon, we will try to get back to you as soon as possible.</p>
			</div>
		</div>
	</section>

	<div class="loader-wrapper">
	    <img src="../images/loading.gif">
	</div>

	<button class="scrollToTopBtn">
		<i class="fas fa-arrow-up"></i>
	</button>

	<footer>
		<div class="footer">
			<div class="f1">
				<center><a href=""><img src="https://bn1files.storage.live.com/y4mkxNxHD72ADhl8XLY7asBatfA2HKT13frmpM6jss_d59R5G-6OtRkTFJiRl0X13ydASstTUpWue7onITkO7O-bzQ81EZeyIhUQ50I3VRaIdV-IgzHlWX4iSFFBpsI7p1AiyUWHWYyUQkkuVN-mkKRSZUj3t5wHOIWLuZ4bGbW61elcuFzQmc-T9ghepmROOB7?width=1356&height=464&cropmode=none"></a></center>
			</div>

			<div class="f2">
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="dietplan.html">Diet Topics</a>
					</div>

					<div class="f2-1-1">
						<a href="workout.html">Workout Topics</a>
					</div>

					<div class="f2-1-1">
						<a href="home.html">BMI Check</a>
					</div>
				</div>

				<div class="f2-1">
					<div class="f2-1-1">
						<a href="infor.html">Information</a>
					</div>

					<div class="f2-1-1">
						<a href="policy.html">Policy</a>
					</div>

					<div class="f2-1-1">
						<a href="asked.html">Frequently Asked Questions</a>
					</div>
				</div>

				<div class="f2-1">
					<div class="f2-1-1">
						<a href="intro.html">Self-introduce</a>
					</div>

					<div class="f2-1-1">
						<a href="ads.html">Advertisement</a>
					</div>

					<div class="f2-1-1">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>

			<hr>

			<div class="f3">
				Designed by <a href="http://kienvu1504.github.io/" target="blank">Kien Vu</a>. The articles by Dark Code and Fit4Life are for reference only, and are not a substitute for medical diagnosis or treatment.
			</div>

			<div class="colorblock">
				<center>
					<p id="ct6"></p>
					<p id="CounterVisitor"></p>
				</center>
			</div>
		</div>
	</footer>

	<script src="../js/asked.js?v=2"></script>
</body>
</html>