<!DOCTYPE html>
<html>
<head>
	<title>Fit4Life</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
	<link rel="stylesheet" type="text/css" href="../rps/contactrps.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="utf-8">
</head>
<body onload='display_ct6();'>
	<header>
		<div class="h1" id="h1id">
			<div class="h1-1">
				<a href="home.html"><img src="../images/logo.png"></a>
			</div>
			<div class="h1-2">
				<div class="h1-2-1">
				 	<ul>
				 		<a href="home.html"><li>Home</li></a>
				 		<a href="dietplan.html"><li>Diet Plan</li></a>
				 		<a href="workout.html"><li>Workout Plan</li></a>
				 	</ul>
				</div>
				<div class="h1-2-2">
				 	<div class="h1-2-2-2" id="h1-2-2-2id">
					 	<i class="fas fa-bars"></i>
					</div>
					<div class="dropdownmenu" id="dropdownmenuid">
						<ul>
							<a href="home.html"><li>Home</li></a>
							<a href="dietplan.html"><li>Diet Plan</li></a>
							<a href="workout.html"><li>Workout Plan</li></a>
						</ul>
					</div>
				 	<div class="h1-2-2-1" id="show">
				 		Welcome: 
				 	</div>
				 	<a href="../index.html" id="image"></a>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="main">
			<div class="m1">
				<h1><p><b>Contact</b></p></h1>
				<p>We'd love to hear from you 🙂</p>
				<p>Whether you are writers, editors, doctors, pharmacists or just a fan of our website, we always want to hear from like-minded people who believe in our vision to be. Vietnam's leading healthcare information provider. We have not yet set up a 24/7 team to answer all your questions and comments, but we will do our best to respond within 48 hours.</p>
				<p>Any questions about health please send to:</p>
			</div>
			<div class="m1">
				<p><b>Facebook</b></p>
				<a href="https://www.facebook.com/kienvu.154"><p>https://www.facebook.com/kienvu.154</p></a>
			</div>
			<div class="m1">
				<p>Company address: Hoang Mai, Ha Noi City, Vietnam</p>
				<p>Phone: <a href="tel:0385810495">0038.581.0495</a> (This phone number is not used for consultation)</p>
				<a href="mailto:kvdigitals@gmail.com"><p>Email: kvdigitals@gmail.com</p></a>
			</div>
		</div>
	</section>
	<div class="loader-wrapper">
	    <img src="../images/loading.gif">
	</div>
	<button class="scrollToTopBtn">
		<i class="fas fa-arrow-up"></i>
	</button>
	<footer>
		<div class="footer">
			<div class="f1">
				<center><a href=""><img src="../images/logo.png"></a></center>
			</div>
			<m>
			<div class="f2">
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="dietplan.html">Diet Topics</a>
					</div>
					<div class="f2-1-1">
						<a href="workout.html">Workout Topics</a>
					</div>
					<div class="f2-1-1">
						<a href="home.html">BMI Check</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="infor.html">Information</a>
					</div>
					<div class="f2-1-1">
						<a href="policy.html">Policy</a>
					</div>
					<div class="f2-1-1">
						<a href="asked.html">Frequently Asked Questions</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="intro.html">Self-introduce</a>
					</div>
					<div class="f2-1-1">
						<a href="ads.html">Advertisement</a>
					</div>
					<div class="f2-1-1">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>
			<hr>
			<div class="f3">
				Copyright © 2021 KVDigital. The articles by Dark Code and Fit4Life are for reference only, and are not a substitute for medical diagnosis or treatment.
			</div>
			<div class="colorblock">
				<center>
					<p id="ct6"></p>
					<p id="CounterVisitor"></p>
				</center>
			</div>
		</div>
	</footer>
	<script src="../js/contact.js?v=2"></script>
</body>
</html>