<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Fit4Life</title>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
	<link rel="stylesheet" type="text/css" href="../css/infor.css">
	<link rel="stylesheet" type="text/css" href="../rps/inforrps.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload='display_ct6();'>
	<header>
		<div class="h1" id="h1id">
			<div class="h1-1">
				<a href="home.html"><img src="https://bn02pap001files.storage.live.com/y4mkxNxHD72ADhl8XLY7asBatfA2HKT13frmpM6jss_d59R5G-6OtRkTFJiRl0X13ydASstTUpWue7onITkO7O-bzQ81EZeyIhUQ50I3VRaIdV-IgzHlWX4iSFFBpsI7p1AiyUWHWYyUQkkuVN-mkKRSZUj3t5wHOIWLuZ4bGbW61elcuFzQmc-T9ghepmROOB7?width=1356&height=464&cropmode=none"></a>
			</div>

			<div class="h1-2">
				<div class="h1-2-1">
				 	<ul>
				 		<a href="home.html"><li>Home</li></a>
				 		<a href="dietplan.html"><li>Diet Plan</li></a>
				 		<a href="workout.html"><li>Workout Plan</li></a>
				 	</ul>
				</div>

				<div class="h1-2-2">
				 	<div class="h1-2-2-2" id="h1-2-2-2id">
					 	<i class="fas fa-bars"></i>
					</div>

					<div class="dropdownmenu" id="dropdownmenuid">
						<ul>
							<a href="home.html"><li>Home</li></a>
							<a href="dietplan.html"><li>Diet Plan</li></a>
							<a href="workout.html"><li>Workout Plan</li></a>
						</ul>
					</div>

				 	<div class="h1-2-2-1" id="show">
				 		Welcome: 
				 	</div>

				 	<a href="../index.html" id="image"></a>
				</div>
			</div>
		</div>
	</header>

	<section id="mainid">
		<div class=" main">
			<div class="m3">
				<div class="m3-1">
					<b><i class="fas fa-info-circle"></i><b>Indemnity</b></b>
				</div>

				<div class="m3-3">
					<p>This tool is for informational purposes only, and is not a substitute for medical diagnosis or treatment. Please consult your doctor in addition to looking for treatments on HelloBacsi. If you have an eating disorder, your BMI calculation will be inaccurate. Please contact a medical professional for further advice.</p>
				</div>
			</div>

			<div class="m3">
				<div class="m3-1">
					<b><i class="fas fa-info-circle"></i><b>Frequently asked questions</b></b>
				</div>

				<div class="m3-2">
					<div class="m3-2-1" onclick="showtext()">
						<b>How can I maintain my current weight?</b>
						<i class="fas fa-plus" id="fas"></i>
						<i class="fas fa-minus" id="fasid"></i>
					</div>

					<div class="m3-2-2" id="m3-2-2id">
						<p>Just as it is important to lose weight and keep a steady weight for a healthy body, weight maintenance is just as important. You need to make sure that you have healthy living habits in order for your weight to remain stable. There are no secrets to losing or gaining weight, but there are many things you can do to maintain your current weight: - Eat healthy by adding nutritious foods like whole grains, fruits, Vegetables, protein, dairy products, nuts and legumes can help maintain your long-term weight. - Drink enough water from 10 ~ 12 glasses / day to help prevent the accumulation of toxins and fat in the body. - Getting enough sleep will ensure the body recovers energy to work and function normally. It will help boost metabolism and prevent the accumulation of absorbed calories. Should sleep about 8 to 9 hours at night. Make sure to do at least 30 minutes of physical activity daily. This will keep calories burned on a regular basis.</p>
					</div>

					<div class="m3-2-1" onclick="showtext1()">
						<b>Limitations of BMI</b>
						<i class="fas fa-plus" id="fas1"></i>
						<i class="fas fa-minus" id="fasid1"></i>
					</div>

					<m>

					<div class="m3-2-2"  id="m3-2-2id1">
						<p>The BMI can tell you when you're overweight, but it won't determine if you have too much fat.</p>
						<p>BMI cannot tell the difference between excess fat, muscle or bone.</p>
						<p>The adult's BMI does not take into account age, sex or muscle mass. This means:</p>
						<p>Muscular adults and athletes may be classified as "overweight" or "obese" despite their low body fat.</p>
						<p>Adults who lose muscle as they age can be rated as "fair weight" even though they may be carrying excess fat.</p>
						<p>Pregnancy will also affect a woman's BMI results. Your BMI will increase as your weight increases. Pre-pregnancy weight measurement should be used to calculate BMI. In addition to these limitations, measuring the BMI is a relatively simple and convenient way to assess a person's weight.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="loader-wrapper">
	    <img src="../images/loading.gif">
	</div>

	<button class="scrollToTopBtn">
		<i class="fas fa-arrow-up"></i>
	</button>

	<footer>
		<div class="footer">
			<div class="f1">
				<center><a href=""><img src="https://bn02pap001files.storage.live.com/y4mkxNxHD72ADhl8XLY7asBatfA2HKT13frmpM6jss_d59R5G-6OtRkTFJiRl0X13ydASstTUpWue7onITkO7O-bzQ81EZeyIhUQ50I3VRaIdV-IgzHlWX4iSFFBpsI7p1AiyUWHWYyUQkkuVN-mkKRSZUj3t5wHOIWLuZ4bGbW61elcuFzQmc-T9ghepmROOB7?width=1356&height=464&cropmode=none"></a></center>
			</div>

			<div class="f2">
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="dietplan.html">Diet Topics</a>
					</div>

					<div class="f2-1-1">
						<a href="workout.html">Workout Topics</a>
					</div>

					<div class="f2-1-1">
						<a href="home.html">BMI Check</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="infor.html">Information</a>
					</div>

					<div class="f2-1-1">
						<a href="policy.html">Policy</a>
					</div>

					<div class="f2-1-1">
						<a href="asked.html">Frequently Asked Questions</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="intro.html">Self-introduce</a>
					</div>

					<div class="f2-1-1">
						<a href="ads.html">Advertisement</a>
					</div>

					<div class="f2-1-1">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>
			<hr>
			<div class="f3">
				Designed by <a href="http://kienvu1504.github.io/" target="blank">Kien Vu</a>. The articles by Dark Code and Fit4Life are for reference only, and are not a substitute for medical diagnosis or treatment.
			</div>

			<div class="colorblock">
				<center>
					<p id="ct6"></p>
					<p id="CounterVisitor"></p>
				</center>
			</div>
		</div>
	</footer>

	<script src="../js/infor.js?v=2"></script>
</body>
</html>