<!DOCTYPE html>
<html>
<head>
	<title>Fit4Life</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
	<link rel="stylesheet" type="text/css" href="../css/intro.css">
	<link rel="stylesheet" type="text/css" href="../rps/introrps.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="utf-8">
</head>
<body onload='display_ct6();'>
	<header>
		<div class="h1" id="h1id">
			<div class="h1-1">
				<a href="home.html"><img src="../images/logo.png"></a>
			</div>
			<div class="h1-2">
				<div class="h1-2-1">
				 	<ul>
				 		<a href="home.html"><li>Home</li></a>
				 		<a href="dietplan.html"><li>Diet Plan</li></a>
				 		<a href="workout.html"><li>Workout Plan</li></a>
				 	</ul>
				</div>
				<div class="h1-2-2">
				 	<div class="h1-2-2-2" id="h1-2-2-2id">
					 	<i class="fas fa-bars"></i>
					</div>
					<div class="dropdownmenu" id="dropdownmenuid">
						<ul>
							<a href="home.html"><li>Home</li></a>
							<a href="dietplan.html"><li>Diet Plan</li></a>
							<a href="workout.html"><li>Workout Plan</li></a>
						</ul>
					</div>
				 	<div class="h1-2-2-1" id="show">
				 		Welcome: 
				 	</div>
				 	<a href="../index.html" id="image"></a>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="main">
			<h1><p><b>Introduce</b></p></h1>
			<p>Fit4Life is a subsidiary of Dark Code Group - a corporation specializing in the medical field with a focus on developing a healthcare platform around the world. Dark Code Group's goal is to lead the world in building healthcare knowledge by providing reliable and easily accessible information to the community; building a happier, healthier life. In 2015, we established a team that fully converges values ​​and experience in health care projects, Internet venture capital investment, branding or marketing. That is why, now and in the future, we will always lead the market.</p>
			<p>Fit4Life has created a promising system that can meet the needs of looking up health information through online access. We provide reliable information, useful articles and a wide range of resources for detailed references on all health-medical topics that you or your family or loved ones need. We are a timely and legitimate provider of information, delivering reputable health content and pages. The content team has researched, refined and synthesized articles, articles, community services, expert opinions and medical reviews to provide readers with a wide variety of accurate information.</p>
			<p>Most of the editorial staff at Fit4Life have devoted their entire careers to assisting readers in their search for medical and wellness information, providing necessary support and services. Fit4Life is dedicated to providing quality health information, while at the same time maintaining fairness in the editorial content.</p>
			<p>For reliable and accurate content, we also understand that sometimes health and medical information can become more friendly, engaging and enjoyable. Therefore, we are committed to always perfecting the website so that our readers always find what they need, and at the same time, it is always easy to understand and remember. We will always produce more content, articles and support services to help you improve your quality of life, find the right path when faced with health-related decisions. , or assist you in finding out health information about yourself and your family.</p>
		</div>
	</section>
	<m>
	<div class="loader-wrapper">
	    <img src="../images/loading.gif">
	</div>
	<button class="scrollToTopBtn">
		<i class="fas fa-arrow-up"></i>
	</button>
	<footer>
		<div class="footer">
			<div class="f1">
				<center><a href=""><img src="../images/logo.png"></a></center>
			</div>
			<div class="f2">
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="dietplan.html">Diet Topics</a>
					</div>
					<div class="f2-1-1">
						<a href="workout.html">Workout Topics</a>
					</div>
					<div class="f2-1-1">
						<a href="home.html">BMI Check</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="infor.html">Information</a>
					</div>
					<div class="f2-1-1">
						<a href="policy.html">Policy</a>
					</div>
					<div class="f2-1-1">
						<a href="asked.html">Frequently Asked Questions</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="intro.html">Self-introduce</a>
					</div>
					<div class="f2-1-1">
						<a href="ads.html">Advertisement</a>
					</div>
					<div class="f2-1-1">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>
			<hr>
			<div class="f3">
				Copyright © 2021 KVDigital. The articles by Dark Code and Fit4Life are for reference only, and are not a substitute for medical diagnosis or treatment.
			</div>
			<div class="colorblock">
				<center>
					<p id="ct6"></p>
					<p id="CounterVisitor"></p>
				</center>
			</div>
		</div>
	</footer>
	<script src="../js/intro.js?v=2"></script>
</body>
</html>