<!DOCTYPE html>
<html>
<head>
	<title>Fit4Life</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css">
	<link rel="stylesheet" type="text/css" href="../css/workout.css">
	<link rel="stylesheet" type="text/css" href="../rps/workoutrps.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta charset="utf-8">
</head>
<body onload='display_ct6();'>
	<header>
		<div class="h1" id="h1id">
			<div class="h1-1">
				<a href="home.html"><img src="../images/logo.png"></a>
			</div>
			<div class="h1-2">
				<div class="h1-2-1">
				 	<ul>
				 		<a href="home.html"><li>Home</li></a>
				 		<a href="dietplan.html"><li>Diet Plan</li></a>
				 		<a href="workout.html"><li>Workout Plan</li></a>
				 	</ul>
				</div>
				<div class="h1-2-2">
				 	<div class="h1-2-2-2" id="h1-2-2-2id">
					 	<i class="fas fa-bars"></i>
					</div>
					<div class="dropdownmenu" id="dropdownmenuid">
						<ul>
							<a href="home.html"><li>Home</li></a>
							<a href="dietplan.html"><li>Diet Plan</li></a>
							<a href="workout.html"><li>Workout Plan</li></a>
						</ul>
					</div>
				 	<div class="h1-2-2-1" id="show">
				 		Welcome: 
				 	</div>
				 	<a href="../index.html" id="image"></a>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="main">
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.goodhousekeeping.com/health/fitness/g33326349/best-youtube-workouts/" target="_blank"><img src="../images/20+best-channel.png"></a>
					<a href="https://www.goodhousekeeping.com/health/fitness/g33326349/best-youtube-workouts/" target="_blank"><h1>20+ Best YouTube Workout Channels for Every Type of Fitness</h1></a>
					<p>These free options include yoga, HIIT, and dance classes from our favorite instructors.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.crossfit.com/" target="_blank"><img src="../images/CrossFit.png"></a>
					<a href="https://www.crossfit.com/" target="_blank"><h1>CrossFit</h1></a>
					<p>This, of course, is the homepage for the fitness revolution known as CrossFit. As you would expect, it offers information on how to find a CrossFit box (as they are known), but it also provides info on CrossFit exercise routines you can do at home. Get your WOD on.</p>
				</div>
			</div>
			<m>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.planetfitness.com/" target="_blank"><img src="../images/planetfitness.png"></a>
					<a href="https://www.planetfitness.com/" target="_blank"><h1>Planet Fitness</h1></a>
					<p>This website promotes the gym, but it also contains a wide array of information on how people can stay in shape. For example, in the middle of the coronavirus outbreak, the website shifted to “bring the gym to you.” As is part of the Planet Fitness mantra, it contains information for beginners, including a section on someone’s first workout.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.livestrong.com/" target="_blank"><img src="../images/livestrong.png"></a>
					<a href="https://www.livestrong.com/" target="_blank"><h1>Livestrong</h1></a>
					<p>Livestrong has an incredible wealth of information on exercises, health care, physical health, mental health and more. It is updated multiple times a day and comes complete with great forums and up-to-date information about fitness trends that are relevant in today’s world.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.menshealth.com/" target="_blank"><img src="../images/menhealth.png"></a>
					<a href="https://www.menshealth.com/" target="_blank"><h1>Men’s Health</h1></a>
					<p>As you can imagine, Men’s Health is a fitness website geared toward men. However, within this focus, the website touches on various topics, including food, sleep, sex and more. Its more standard features involve giving information on workouts and advice on how to get into better shape.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.muscleandfitness.com/" target="_blank"><img src="../images/muscleandfitness.png"></a>
					<a href="https://www.muscleandfitness.com/" target="_blank"><h1>Muscle & Fitness</h1></a>
					<p>As the name would imply, Muscle & Fitness is narrowly focused around how to build your muscles and stay in shape. It contains great information on specific ways to build muscle, including the types of workouts that are best for these purposes.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.t-nation.com/" target="_blank"><img src="../images/tnation.png"></a>
					<a href="https://www.t-nation.com/" target="_blank"><h1>T Nation</h1></a>
					<p>T Nation bills itself as “The world’s largest hardcore training site.” As the slogan implies, it is specifically designed for more advanced fitness enthusiasts. It goes as far as discussing non-prescription (but legal!) drugs that can be taken to relax and stay in better shape.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://www.myfitnesspal.com/" target="_blank"><img src="../images/myfitness.png"></a>
					<a href="https://www.myfitnesspal.com/" target="_blank"><h1>My Fitness Pal</h1></a>
					<p>My Fitness Pal is a freemium website that allows users to get fitness and food advice. It also lets users track calories and log activities, making it an ideal one-stop shop for fitness and dieting. There are also integrated apps that you can use as part of your workout.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="https://robbwolf.com/" target="_blank"><img src="../images/robbwolf.png"></a>
					<a href="https://robbwolf.com/" target="_blank"><h1>Robb Wolf</h1></a>
					<p>The Robb Wolf fitness website goes into some new areas that we haven’t previously seen on this list. Examples include entire sections on specialty health diets, like diets for celiac, paleo and gluten-free diets. It also features entire sections on anti-inflammatory eating and foods.</p>
				</div>
			</div>
			<div class="m1">
				<div class="m1-1">
					<a href="http://www.lookgreatnaked.com/" target="_blank"><img src="../images/lookgreatnaked.png"></a>
					<a href="http://www.lookgreatnaked.com/" target="_blank"><h1>Look Great Naked</h1></a>
					<p>If the website name doesn’t hook you, odds are good that the content will! Look Great Naked is run by Brad Schoenfeld, a personal trainer and Ph.D. holder who runs a blog, writes a newsletter and offers coaching. The content on this website covers a variety of topics but primarily deals with exercise and strength training.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="loader-wrapper">
	    <img src="../images/loading.gif">
	</div>
	<button class="scrollToTopBtn">
		<i class="fas fa-arrow-up"></i>
	</button>
	<footer>
		<div class="footer">
			<div class="f1">
				<center><a href=""><img src="../images/logo.png"></a></center>
			</div>
			<div class="f2">
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="dietplan.html">Diet Topics</a>
					</div>
					<div class="f2-1-1">
						<a href="workout.html">Workout Topics</a>
					</div>
					<div class="f2-1-1">
						<a href="home.html">BMI Check</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="infor.html">Information</a>
					</div>
					<div class="f2-1-1">
						<a href="policy.html">Policy</a>
					</div>
					<div class="f2-1-1">
						<a href="asked.html">Frequently Asked Questions</a>
					</div>
				</div>
				<div class="f2-1">
					<div class="f2-1-1">
						<a href="intro.html">Self-introduce</a>
					</div>
					<div class="f2-1-1">
						<a href="ads.html">Advertisement</a>
					</div>
					<div class="f2-1-1">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>
			<hr>
			<div class="f3">
				Copyright © 2021 KVDigital. The articles by Dark Code and Fit4Life are for reference only, and are not a substitute for medical diagnosis or treatment.
			</div>
			<div class="colorblock">
				<center>
					<p id="ct6"></p>
					<p id="CounterVisitor"></p>
				</center>
			</div>
		</div>
	</footer>
	<script src="../js/workout.js?v=2"></script>
</body>
</html>